# Chapter01. 데이터

In [16]:
import pandas as pd

In [5]:
df=pd.read_csv("data/ch1_sport_test.csv", index_col="학생번호")

In [6]:
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [13]:
df.shape #학년, 악력, 윗몸일으키디, 점수, 순위 라는 5개 항목이 있고, 10명의 데이터임을 알 수 있음

(10, 5)

In [12]:
df['악력'] #특정 열 추출

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [15]:
type(df['악력']) #DataFrame(2차원의 표 데이터 구조)이 아닌 Series(1차원의 데이터 구조)라는 데이터 구조

pandas.core.series.Series

## Section1.1. 데이터의 크기

In [17]:
df.shape #DataFrame의 크기는 shape라는 인스턴스 변수 참조 #레코드 수, 칼럼 수

(10, 5)

## Section1.2. 변수의 종류

### 1.2.1. 질적 변수와 양적 변수

### 질적변수 : 
### ex) 1.매우 좋음 2.좋음 3.보통 4.나쁨 5.매우 나쁨
###  ex) 1.A형 2.B형 3.O형 4.AB형
### 양적변수 : 
### ex) 시험 점수, 신장 같이 양을 표현하는 변수

### 1.2.2. 척도 수준

### 질적 변수 : 명의 척도, 순서 척도
### 양적 변수 : 간격 척도, 비례 척도

- 명의 척도 : 단순히 분류하기 위한 변수 (ex) 학생번호, 전화번호, 성별
- 순서 척도 : 순서 관계나 대소 관계에 의미가 있는 변수 (ex) 성적 순위, 설문조사 만족도
- 간격 척도 : 대소 관계와 함께 그 차이에도 의미를 두는 변수 (ex) 연도, 온도
- 비례 척도 : 대소 관계, 차이, 비 모두에 의미가 있는 변수 (ex) 길이가 50cm와 100cm 있다면 차이가 50cm 차이, 2배 차이

### 1.2.3. 이산형 변수와 연속형 변수

### 이산형 변수 : 0,1,2,...와 같이 하나하나의 값을 취하는 변수

### 연속형 변수 : 연속적인 값을 취할 수 있는 변수